.tags
*.html
*.pdf
*.redxml
*.swp
/*.txt
*.upload
*~
/.*.mk
/.bsp/
/.gems/
/.idea/
/.metals/
/.refcache
/.scala-build/
/.venv/
/.vscode/
/*-[0-9][0-9].xml
/lib
/node_modules/
/out/
/versioned/
archive.json
draft-wilton-netconf-yang-push-lite.xml
Gemfile.lock
package-lock.json
report.xml
!requirements.txt
